<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.he.mapper.LoginTicketMapper">
	<resultMap type="com.he.entity.LoginTicket" id="result_LoginTicket">
		<id column="ID" property="id" />
		<result column="USER_ID" property="userId" />
		<result column="TICKET" property="ticket" />
		<result column="EXPIRED" property="expired" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<sql id="LoginTicket_Column_List">
		id,user_id,ticket,expired,status
	</sql>


	<insert id="addTicket" parameterType="com.he.entity.LoginTicket">
		insert into login_ticket (
		<include refid="LoginTicket_Column_List"/>
		)
		values(#{userId,jdbcType=Integer},#{expired,jdbcType=DATE},#{status,jdbcType=Integer},#{ticket,jdbcType=VARCHAR})
	</insert>




</mapper>